<?php
return array(
    'github-connector' => [
        /**
         * User to use for connection
         */
        'user_connect' => [
            'username' => '',
            'password' => ''
        ],
        /**
         * Application OAuth if no user provided
         */
        'oauth' => [
            'oauth_consumer_key' => '',
            'oauth_consumer_secret' => ''
        ]
    ],
);