<?php
return [
    'bitbucket' => [
        'account-name' => 'caseinc',
        'oauth' => [
            'oauth_consumer_key' => '',
            'oauth_consumer_secret' => ''
        ]
    ],
    'hipchat' => [
        'api-token' => ''
    ],
    'repo-mapping' => [
        [
            'repo-type' => 'bitbucket',
            'repo' => 'REPO_NAME',
            'issue-tracker-link' => 'REPO_LINK',
            'hipchat-room' => 'HIPCHAT_ROOM_ID',
            'skip' => false // if true will not be processed
        ],
    ]
];
            