<?php
return [
    'show-me-the-issue' => array(
        'hipchat' => [
            'api-token' => 'HIPCHAT-TOKEN'
        ],
        'repo-mapping' => [
            /*
            [
                'repo-type' => 'github',
                'account-name' => 'av4tar',
                'repo' => 'sheti',
                'issue-tracker-link' => 'https://github.com/AV4TAr/sheti/issues',
                'hipchat-room' => '1234567',
                'skip' => false, //it will be skipped if true
                'issue-filters' => [
                    'state' => 'open'
                ],
            ],
            [
                'repo-type' => 'bitbucket',
                'account-name' => 'av4tar',
                'repo' => 'sheti',
                'issue-tracker-link' => 'https://bitbucket.org/AV4TAr/sheti/issues',
                'hipchat-room' => '1234567',
                'skip' => false, //it will be skipped if true
                'issue-filters' => [
                    'kind' => 'bug',
                    'status' => 'new'
                ]
            ],
            */
        ]
    ),
    'bitbucket-connector' => [
        'oauth' => [
            'oauth_consumer_key' => 'OAUTH-KEY',
            'oauth_consumer_secret' => 'OAUTH-SECRET'
        ],
    ],
    'github-connector' => [
        'oauth' => [
            // 'oauth_consumer_key' => 'CONSUMER-KEY',
            // 'oauth_consumer_secret' => 'CONSUMER-SECRET'
        ],
        'user_connect' => [
            'username' => 'USERNAME',
            'password' => 'PASSWORD'
        ],
    ]
];