<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */
return [
    'show-me-the-issue' => array(
        'hipchat' => [
            'api-token' => 'HIPCHAT-TOKEN'
        ],
        'repo-mapping' => [
            /*
            [
                'repo-type' => 'github',
                'repo' => 'sheti',
                'issue-tracker-link' => 'https://github.com/AV4TAr/sheti/issues',
                'hipchat-room' => '1234567',
                'skip' => false, //it will be skipped if true
            ],
            [
                'repo-type' => 'bitbucket',
                'repo' => 'sheti',
                'issue-tracker-link' => 'https://bitbucket.org/AV4TAr/sheti/issues',
                'hipchat-room' => '1234567',
                'skip' => false, //it will be skipped if true
            ],
            */
        ]
    ),
    'bitbucket-connector' => [
        'account-name' => 'ACCOUNT-NAME',
        'oauth' => [
            'oauth_consumer_key' => 'OAUTH-KEY',
            'oauth_consumer_secret' => 'OAUTH-SECRET'
        ],
        /**
         * What issues to filter
         */
        'issue-filters' => [
            'kind' => 'bug',
            'status' => 'new'
        ]
    ],
    'github-connector' => [
        'account-name' => 'ACCOUNT-NAME',
        'oauth' => [
            // 'oauth_consumer_key' => 'CONSUMER-KEY',
            // 'oauth_consumer_secret' => 'CONSUMER-SECRET'
        ],
        'user_connect' => [
            'username' => 'USERNAME',
            'password' => 'PASSWORD'
        ],
        /**
         * What issues to filter
         */
        'issue-filters' => [
            'state' => 'open'
        ]
    ]
];